.home {
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	top: 100vh;
	padding: 0 20px 30px 20px;
	bottom: 0;
	opacity: 0;
	transition: 1s ease-in-out;
	transform-origin: bottom;
	z-index: 1000;

	.sectionTitle {
		display: flex;
		justify-content: center;
		width: 100%;
		text-transform: uppercase;
		align-items: center;
		color: var(--bgColor);
		font-family: var(--font-inter), sans-serif;
		font-weight: 900;
		font-size: 50px;
		letter-spacing: 1px;
		text-shadow: var(--heading3DShadow);

		i {
			margin-left: 15px;
		}
	}

	.viewMore {
		font-family: var(--font-playpen), cursive;
		text-decoration: none;
		color: var(--actionColor);
		font-size: 16px;
		transition: 0.3s;

		&:hover {
			transform: scale(0.96);
			color: var(--clickedColor);
		}
	}

	&::-webkit-scrollbar {
		display: none;
	}

	&.active {
		top: 100px;
		height: auto;
		overflow-y: visible;
		animation: slideUp 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
	}
}

@keyframes slideUp {
	from {
		opacity: 0;
		transform: translateY(100%);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@media (max-width: 768px) {
	.home {
		padding: 0 10px 30px 10px !important;
	}

	.sectionTitle {
		font-size: 40px !important;
	}


}

@media (max-width: 500px) {
	.sectionTitle {
		font-size: 30px !important;
	}

}

@media (max-width: 360px) {
	.sectionTitle {
		font-size: 28px !important;

		i {
			margin-left: 10px !important;
		}
	}

}