:global(.swiper) {
	width: 90%;
	padding: 30px 0;
	margin-top: 10px;
	margin-bottom: 30px;
	border-radius: 15px;
	box-shadow: var(--linksBoxShadow);
	--swiper-navigation-color: #d97736 !important;
}

:global(.swiper-slide) {
	width: 550px;
	height: 350px;
}

.gameSlider {
	position: relative;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	padding: 30px;
	overflow: hidden;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: fill;
		object-position: center;
		border-radius: 30px !important;
		filter: brightness(60%);
	}

	.video {
		position: absolute;
		right: 0;
		top: 0;
		width: 85%;
		height: 75%;
		z-index: 1100;
		visibility: hidden;
		opacity: 0;
		transform: scale(0);
		transform-origin: top right;
		transition: 0.5s;

		&.active {
			visibility: visible;
			opacity: 1;
			transform: scale(1);
		}
	}

	iframe {
		width: 100%;
		height: 100%;
		border-radius: 0 30px 0 30px !important;
		border: 5px solid transparent;
		background: #6b7c74;
		box-shadow: var(--sectionBoxShadow);
	}

	.content {
		position: absolute;
		bottom: 20px;
		z-index: 1000;
		width: 60%;

		h2 {
			font-family: var(--font-playpen), cursive;
			font-size: 28px;
			font-weight: 900;
			color: #6b7c74;
			text-shadow:
				-1px -1px 1px rgba(255, 255, 255, 0.7),
				1px 1px 1px rgba(0, 0, 0, 0.3),
				1px 1px 1px rgba(0, 0, 0, 0.7);
		}

		p {
			font-family: var(--font-playpen), cursive;
			font-size: 13px;
			font-weight: 200;
			line-height: 1.3;
			color: #e6dfd3;
		}

		.buttons {
			display: inline-flex;
			align-items: center;
			gap: 20px;

			a {
				text-decoration: none;
				color: #d97736;
				text-transform: uppercase;
			}

			.orderBtn {
				font-family: var(--font-playpen), cursive;
				font-weight: 600;
				padding: 8px 20px;
				border-radius: 10px;
				background: rgba(255, 255, 255, 0.12);
				box-shadow:
					3px 3px 6px rgba(0, 0, 0, 0.6),
					-3px -3px 6px rgba(255, 255, 255, 0.4);
				transition: all 0.3s;


				&:hover {
					color: #dfb15b;
					transform: scale(0.96);
					box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
				}

				&:active {
					color: #dfb15b;
					transform: scale(0.9);
					box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
				}
			}

			.playBtn {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 30px;
				background: rgba(255, 255, 255, 0.12);
				box-shadow:
					3px 3px 6px rgba(0, 0, 0, 0.6),
					-3px -3px 6px rgba(255, 255, 255, 0.4);
				transition: all 0.3s;

				&:hover {
					color: #dfb15b;
					transform: scale(0.96);
					box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
				}

				&:active {
					color: #dfb15b;
					transform: scale(0.9);
					box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
				}

				&.active {
					.play {
						display: none !important;
					}

					.pause {
						display: block !important;
					}
				}

				.pause {
					display: none;
					color: #d97736;

					&:hover {
						color: #dfb15b;
					}
				}

				.play {
					display: block;
					color: #d97736;

					&:hover {
						color: #dfb15b;
					}
				}
			}
		}
	}

	&::after {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.3);
		border-radius: 30px !important;
	}
}