:root {
	--bgColor: #2d3531;

	--sectionBoxShadow: -5px -5px 15px #39433e, 5px 5px 15px #212724;
	--linksBoxShadow: -3px -3px 6px #39433e, 3px 3px 6px #212724;
	--linksInsetBoxShadow: inset -2px -2px 4px #39433e, inset 2px 2px 4px #212724;
	--mainBoxShadow: -5px -5px 15px #39433e, 5px 5px 15px #212724,
		inset -5px -5px 15px #39433e, inset 5px 5px 15px #212724;


}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	position: relative;
	background: var(--bgColor);
	font-family: var(--font-inter), sans-serif;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
	color: #fff;
}