:root {
	--bgColor: #2d3531;

	--sectionBoxShadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35);
	--linksBoxShadow: -3px -3px 6px rgba(255, 255, 255, 0.1), 3px 3px 6px rgba(0, 0, 0, 0.4);
	--linksInsetBoxShadow: inset -2px -2px 4px rgba(255, 255, 255, 0.1), inset 2px 2px 4px rgba(0, 0, 0, 0.4);
	--mainBoxShadow: -5px -5px 15px rgba(255, 255, 255, 0.15), 5px 5px 15px rgba(0, 0, 0, 0.35),
		inset -5px -5px 15px rgba(255, 255, 255, 0.15), inset 5px 5px 15px rgba(0, 0, 0, 0.35);


}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	position: relative;
	background: var(--bgColor);
	font-family: var(--font-inter), sans-serif;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
	color: #fff;
}