.section {
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0 30px 30px 30px;
	z-index: 1000;

	.sectionTitle {
		display: flex;
		justify-content: center;
		text-transform: uppercase;
		color: var(--bgColor);
		font-family: var(--font-inter), sans-serif;
		font-weight: 900;
		font-size: 50px;
		letter-spacing: 1px;
		text-shadow: var(--heading3DShadow);
	}

	h4 {
		font-family: var(--font-playpen), cursive;
		text-transform: uppercase;
		font-size: 30px;
		font-weight: 900;
		color: var(--mainColor);
		text-shadow: var(--neomorphicShadow);
	}

	p {
		font-family: var(--font-playpen), cursive;
		text-transform: lowercase;
		text-decoration: underline;
		font-size: 20px;
		font-weight: 400;
		color: var(--mainColor);
		text-shadow: var(--neomorphicShadow);
	}

	&::-webkit-scrollbar {
		display: none;
	}

	&.active {
		top: 100px;
		height: auto;
		overflow-y: visible;
		animation: slideUpCategories 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
	}
}

@keyframes slideUpCategories {
	from {
		opacity: 0;
		transform: translateY(100%);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@media (max-width: 630px) {

	.empty {
		h4 {
			font-size: 20px;
			font-weight: 700;
		}

		p {
			font-size: 16px;
			font-weight: 200;
		}
	}
}

@media (max-width: 500px) {

	.sectionTitle {
		font-size: 30px !important;
	}
}

@media (max-width: 360px) {

	.sectionTitle {
		font-size: 20px !important;
	}
}